@tailwind base;
@tailwind components;
@tailwind utilities;

*, 
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  min-height: 300px;
  max-height: 550px;
  height: auto;
  transition: .5s ease all;
}

img:hover {
  scale: 105%;
}

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
  border:8px solid #0000;
  border-radius: 50%;
  border-color:#687F8D #0000;
  animation: s6 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  margin:4px;
  border:inherit;
  border-radius: 50%;
}
.custom-loader::before {
  border-color:#F3F0F0 #0000;
  animation:inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.custom-loader::after {
  margin:16px;
}

@keyframes s6 { 
  100%{transform: rotate(1turn)}
}